<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>

    <div class='header'>
        <h1>Welcome To AddressBook</h1>

        <p> A small book in which one writes the
            names, addresses, and telephone numbers
            of people one knows. 2 : a place
            on a computer or other device for storing
            e-mail addresses, phone numbers, etc.</p>
    </div>

    <div >
        <div class="image">
            <img src="../static/images/1485138.png">
        </div>

        <div class="options">
            <p>Please Select One of the following options: </p>
            <button class="btn btn-outline-primary"> All Contacts</button>
            <button onclick="location.href='./create'" type=""  class="btn btn-outline-success"> Create Contact</button>
            <button class="btn btn-outline-warning"> Update Contact</button>
            <button class="btn btn-outline-secondary"> Search Contact</button>
            <button class="btn btn-outline-danger"> Delete Contact</button>

        </div>

    </div>
</body>

</html>